<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" ng-show="logueado">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header alert alert-danger" role="alert">
				<h4 class="modal-title">
					<strong>Atencion!</strong>
				</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="confirmBorrar">
					<div class="form-group">
						<h4 class="text-center text-capitalize">
							¿Desea borrar {{nombreForm}} <strong>{{textoConfirm}}</strong>?
						</h4>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<button type="submit" class="btn btn-default pull-left" ng-click="cancelarBorrar()">Cancelar</button>
					<button type="submit" class="btn btn-danger pull-right" ng-click="borrar(obj)">Borrar</button>
				</div>
			</div>
		</div>
	</div>
</div>