<div class="modal fade" id="message-modal" tabindex="-1" role="dialog"
	aria-labelledby="message-modal" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Informacion</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-success alert-dismissible" role="alert"
					ng-show="success && success!=null && msgSuccess!=null">
					<h4 class="text-center">{{msgSuccess}}</h4>
				</div>
				<div class="alert alert-danger alert-dismissible" role="alert"
					ng-show="!success && success!=null && msgError!=null">
					<h4 class="text-center">{{msgError}}</h4>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default center-block"
					data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>