<div class="panel panel-warning" ng-show="logueado">
	<div class="panel-heading">
		<h5 class="panel-title">Domicilios</h5>
	</div>
	<div class="panel-body bg-warning">
		<table class="table table-hover table-condensed table-striped">
			<thead>
				<tr>
					<th class="text-center">Actual</th>
					<th>Domicilio</th>
					<th>Localidad</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="domicilio in nuevosDomicilios | orderBy:['actual','domicilio']" >
					<td class="text-center"><span ng-class="{'glyphicon glyphicon-check':domicilio.actual}"></span></td>
					<td class="text-capitalize"><strong>{{domicilio.domicilio}}</strong></td>
					<td><strong>{{domicilio.localidad.nombre}}</strong></td>
					<td><a href="#/{{urlModulo}}" ng-click="removeDomicilio(domicilio)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
				</tr>
				<tr>
					<td>
						<div class="text-center form-group-sm">
							<input type="checkbox" ng-model="nuevoDomicilio.actual">
						</div>
					</td>
					<td>
						<div class="form-group form-group-sm">
							<input class="form-control text-capitalize" type="text" placeholder="Domicilio" ng-model="nuevoDomicilio.domicilio">
						</div>
					</td>
					<td>
						<div class="input-group input-group-sm">
							<select class="form-control text-capitalize" ng-options="localidad.nombre for localidad in localidades" required ng-model="localidadSel" ng-init="listarLocalidades()">
								<option value="">-- Localidad --</option>
							</select>
						</div>
					</td>
					<td>
						<div class="text-center btn btn-sm">
							<a href="#/{{urlModulo}}" ng-click="addDomicilio()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer bg-warning">
		<button type="submit" class="btn btn-primary" ng-click="guardar()">Guardar</button>
	</div>
</div>