<div class="panel panel-primary" ng-show="logueado">
	<div class="panel-heading">
		<h5 class="panel-title">Formacion Academica</h5>
	</div>
	<div class="panel-body ">
		<table class="table table-hover table-condensed table-striped">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Titulo</th>
					<th>Estado</th>
					<th>Expedido por</th>
					<th>Año expedido</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="formacion in nuevasFormacionesAcademicas | orderBy:['anio']" >
					<td><strong>{{formacion.tipoFormacion.nombre}}</strong></td>
					<td class="text-capitalize"><strong>{{formacion.titulo}}</strong></td>
					<td><strong>{{formacion.tipoEstadoFormacion.nombre}}</strong></td>
					<td class="text-capitalize"><strong>{{formacion.expedidoPor}}</strong></td>
					<td><strong>{{formacion.anio | date:'yyyy'}}</strong></td>
					<td><a href="#/{{urlModulo}}" ng-click="removeFormacion(formacion)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
				</tr>
				<tr>
					<td>
						<div class="form-group form-group-sm">
							<select class="form-control" ng-options="tipo.nombre for tipo in tiposFormacion" required ng-model="tipoFormacionSel" ng-init="listarTiposFormacion()">
								<option value="">-- Formacion --</option>
							</select>
						</div>
					</td>
					<td>
						<div class="form-group form-group-sm">
							<input class="form-control text-capitalize" type="text" placeholder="Titulo" ng-model="nuevaFormacion.titulo">
						</div>
					</td>
					<td>
						<div class="form-group form-group-sm">
							<select class="form-control" ng-options="tipo.nombre for tipo in tiposEstadoFormacion" required ng-model="tipoEstadoFormacionSel" ng-init="listarTiposEstadoFormacion()">
								<option value="">-- Estado --</option>
							</select>
						</div>
					</td>
					<td>
						<div class="form-group form-group-sm">
							<input class="form-control text-capitalize" type="text" placeholder="Expedido por" ng-model="nuevaFormacion.expedidoPor">
						</div>
					</td>
					<td class="col-sm-2">
						<div class="form-group form-inline form-group-sm">
				            <p class="input-group input-group-sm">
				              <input type="text" class="form-control" datepicker-popup="{{formatYearOnly}}" ng-model="nuevaFormacion.anio" is-open="openedAnio" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" clear-text="Borrar" current-text="Hoy" close-text="Cerrar" disabled/>
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="openAnio($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
						</div>
					</td>
					<td>
						<div class="text-center btn btn-md">
							<a href="#/{{urlModulo}}" ng-click="addFormacion()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
						</div>	
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer ">
		<button type="submit" class="btn btn-primary" ng-click="guardar()">Guardar</button>
	</div>
</div>