<div class="panel panel-success" ng-show="logueado">
	<div class="panel-heading">
		<h5 class="panel-title">Información Personal</h5>
	</div>
	<div class="panel-body bg-success">
		<!-- Nombre y Apellido -->
		<div class="row">
			<div class="col-sm-5">
				<div class="form-group">
					<label for="nombre">Nombre/s</label>
					<input type="text" class="form-control text-capitalize" id="nombre" name="nombre" ng-model="nombre" placeholder="Nombre/s">
				</div>
			</div>
			<div class="col-sm-5">
				<div class="form-group">
					<label for="apellido">Apellido</label>
					<input type="text" class="form-control text-capitalize" id="apellido" name="apellido" ng-model="apellido" placeholder="Apellido">
				</div>
			</div>
		</div>
		<!-- Fecha Nacimiento -->
		<div class="row">
			<div class="col-sm-5">
				<div class="form-group form-inline">
					<div class="form-group">
						<label for="fechaNac" class="control-label pull-left">Fecha de Nacimiento</label>
					</div>
					<div class="form-group form-inline">
			            <p class="input-group">
			              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="fechaNac" is-open="opened" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" clear-text="Borrar" current-text="Hoy" close-text="Cerrar" disabled/>
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
					</div>
				</div>
			</div>
		</div>
		<!-- Tipo Documento y CUIL -->
		<div class="row">
			<div class="col-sm-5">
				<div class="form-group form-inline">
					<div class="form-group" ng-init="listarTiposDoc()">
						<label class="radio-inline" ng-repeat="tipoDoc in tiposDoc"> 
							<input type="radio" id="tipoDocSel" name="tipoDocSel" value="{{tipoDoc.id}}" ng-blur="rellenarDNICuil()" ng-model="$parent.tipoDocSel"> {{tipoDoc.nombre}}
						</label>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="numeroDoc" name="numeroDoc" ng-model="numeroDoc" maxlength="8" placeholder="Número" ng-blur="rellenarDNICuil()">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group form-inline">
					<div class="form-group">
						<label for="cuil" class="control-label pull-left">CUIL</label>
					</div>
					<div class="form-group">
						<div class="input-group">
							<select class="form-control" ng-options="tipoCuil for tipoCuil in tiposCuil" ng-model="cuilTipoSel" ng-blur="validarCuit(cuilTipoSel, numeroDocCuil)"></select>
							<span class="input-group-addon" id="basic-addon1">-</span>
							<input class="form-control text-center" type="text" name="cuil" ng-model="numeroDocCuil" placeholder="DNI" maxlength="8" ng-blur="validarCuit(cuilTipoSel, numeroDocCuil)">
							<span class="input-group-addon" id="basic-addon1">-</span>
							<select class="form-control" ng-options="validadorCuil for validadorCuil in validadoresCuil" ng-model="cuilValidadorSel" disabled></select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Localidad y CP -->
		<div class="row">
			<div class="col-sm-4">
				<select class="form-control text-capitalize" ng-options="(local.nombre + ' > ' + local.partido.nombre + ' > ' + local.partido.provincia.nombre) for local in localidades" required ng-model="localSel" ng-init="listarLocalidades()">
					<option value="">-- Localidad --</option>
				</select>
			</div>
			<div class="col-sm-2">
				<div class="input-group">
			      	<input type="text" class="form-control" id="cp" placeholder="CP" ng-model="cp" maxlength="9">
			      	<div class="input-group-addon">CP</div>
			    </div>
			</div>
		</div>
	</div>
</div>