<div class="row" ng-show="logueado">
	<!-- Page Header -->
	<page-header></page-header>
	<!-- Alert Modal -->
	<modal-alert></modal-alert>
	<!-- Confirmacion Borrar -->
	<modal-confirm></modal-confirm>
	
	<partial-filtro-docentes></partial-filtro-docentes>
	
<!-- 		<tab heading="Personal"> -->
<!-- 				<tab heading="Docente"> -->
<!-- 				<tab heading="Desempeño"> -->
<!-- 		</tab>  -->
<!-- 		<tab heading="Planes"> -->
<!-- 				<tab heading="Asignaturas"> -->
<!-- 				<tab heading="Carreras"> -->
<!-- 				<tab heading="Planes de Estudio"> -->
<!-- 		</tab>  -->
<!-- 		<tab heading="Instituciones"> -->
<!-- 				<tab heading="Institutos"> -->
<!-- 				<tab heading="Sedes"> -->
<!-- 		</tab>  -->
<!-- 		<tab heading="Localizacion"> -->
<!-- 				<tab heading="Provincias"> -->
<!-- 				<tab heading="Partidos"> -->
<!-- 				<tab heading="Localidades"> -->
<!-- 		</tab>  -->
<!-- 		<tab heading="Tipos"> -->
<!-- 		</tab>  -->
<!-- 	</tabset> -->
	
	<docente-listado-filtrado></docente-listado-filtrado>
	
</div>