<div class="row" ng-show="logueado">
	<!-- Page Header -->
	<page-header></page-header>
	<!-- Alert Modal -->
	<modal-alert></modal-alert>
	<!-- Confirmacion Borrar -->
	<modal-confirm></modal-confirm>
	<!-- Form Nuevo -->
	<div class="row col-sm-5 ">
		<!-- Panel -->
		<div class="panel panel-primary">
			<!-- Panel Header -->
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="" ng-click="colapsarFormulario=!colapsarFormulario">Nuevo {{nombreForm}}
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': colapsarFormulario, 'glyphicon-chevron-up': !colapsarFormulario}"></i>
					</a>
				</h4>
			</div>
			<!-- Panel Body -->
			<div class="panel-body" collapse="colapsarFormulario">
				<form role="form" name="formAction" ng-init="initListados()">
					<div class="form-group" ng-class="{'has-error':docenteSel==null, 'has-success':docenteSel!=null}">
						<select class="form-control" ng-options="(docente.persona.nombre + ' ' + docente.persona.apellido) for docente in docentes" required ng-model="docenteSel">
							<option value="">-- Docente --</option>
						</select>
					</div>
					<div class="form-group" ng-class="{'has-error':asignaturaSel==null, 'has-success':asignaturaSel!=null}">
						<select class="form-control" ng-options="(asignatura.nombre + ', ' + asignatura.anio + '°, ' + asignatura.carrera.nombre) for asignatura in asignaturas" required ng-model="asignaturaSel">
							<option value="">-- Asignatura --</option>
						</select>
					</div>
					<div class="row">
						<div class="form-group col-sm-4">
							<select class="form-control" ng-options="mes.nombre for mes in meses" required ng-model="mesSel">
								<option value="">-- Mes --</option>
							</select>
						</div>
						<div class="form-group form-inline col-sm-4">
				            <p class="input-group">
				              <input placeholder="Año" type="text" class="form-control" datepicker-popup="{{formatYearOnly}}" ng-model="anioSel" is-open="openedAnio" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" clear-text="Borrar" current-text="Hoy" close-text="Cerrar" disabled/>
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="openAnio($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-5">
							<div class="input-group">
						      	<input type="number" class="form-control" id="hcs" placeholder="HCS" ng-model="hcs" max="22" min="0">
						      	<div class="input-group-addon">HCS Mensuales</div>
						    </div>
						</div>
						<div class="form-group col-sm-5">
							<div class="input-group">
						      	<input type="number" class="form-control" id="faltas" placeholder="Hs" ng-model="faltas" max="50" min="0">
						      	<div class="input-group-addon">Inasistencias</div>
						    </div>
					    </div>
					</div>
				</form>
			</div>
			<!-- Panel Footer : Buttons -->
			<div class="panel-footer" ng-show="!colapsarFormulario">
				<button type="submit" class="btn btn-primary" ng-click="guardar(desempenio)">Guardar</button>
				<button type="submit" class="btn btn-default pull-right" ng-click="limpiar()">Limpiar</button>
				<button type="submit" class="btn btn-default pull-right" ng-click="cerrarForm()">Cerrar</button>
			</div>
		</div>
	</div>
	<!-- Listado Actuales -->
	<div class="row col-sm-6 col-sm-offset-1">
		<!-- Panel -->
		<div class="panel panel-primary">
			<!-- Panel Header -->
			<div class="panel-heading">
				<h4 class="panel-title">{{modulo}} Actuales</h4>
			</div>
			<!-- Listado -->
			<div class="panel-body" ng-init="listar()">
				<table class="table table-hover table-condensed table-striped" ng-show="desempenios.length!=0">
					<thead>
						<tr>
							<td><em>Docente</em></td>
							<td><em>Asignatura</em></td>
							<td><em>Año</em></td>
							<td><em>Mes</em></td>
							<td><em>HCS</em></td>
							<td><em>Inasistencias</em></td>
							<td></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="desempenio in desempenios | orderBy:['desempenio.docente.nombre', 'desempenio.asignatura.nombre']" class="text-capitalize">
							<td><strong>{{desempenio.docente.persona.apellido + ', ' + desempenio.docente.persona.nombre}}</strong></td>
							<td><strong>{{desempenio.asignatura.nombre + ', ' + desempenio.asignatura.anio + '°'}}</strong></td>
							<td><strong>{{desempenio.anio}}</strong></td>
							<td><strong>{{meses[indiceDe(meses, desempenio.mes, 'value')].nombre}}</strong></td>
							<td><strong>{{desempenio.hcs}}</strong></td>
							<td><strong>{{desempenio.faltas}}</strong></td>
							<td><a href="#/{{urlModulo}}" ng-click="editarElemento(desempenio)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
							<td><a href="#/{{urlModulo}}" ng-click="confirmarBorrar(desempenio)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Panel Footer -->
			<div class="panel-footer">
				<h5 class="panel-title">Total de registros: <strong>{{desempenios.length}}</strong>.</h5>
			</div>
		</div>
	</div>

</div>