<div class="row" ng-show="logueado">
	<!-- Page Header -->
	<page-header></page-header>
	<!-- Alert Modal -->
	<modal-alert></modal-alert>
	<!-- Confirmacion Borrar -->
	<modal-confirm></modal-confirm>
	<!-- Form Nuevo -->
	<div class="row col-sm-4 col-sm-offset-1">
		<!-- Panel -->
		<div class="panel panel-primary">
			<!-- Panel Header -->
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="" ng-click="colapsarFormulario=!colapsarFormulario">Nuevo {{nombreForm}}
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': colapsarFormulario, 'glyphicon-chevron-up': !colapsarFormulario}"></i>
					</a>
				</h4>
			</div>
			<!-- Panel Body -->
			<div class="panel-body" collapse="colapsarFormulario">
				<form role="form" name="formAction" ng-init="listarPartidos()">
					<div class="form-group">
						<select class="form-control" ng-options="partido.nombre for partido in partidos" required ng-model="partidoSel">
							<option value="">-- Partido --</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="nombre" name="nombre" ng-model="nueva.nombre" placeholder="Localidad">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="cp" name="cp" ng-model="nueva.cp" placeholder="Código Postal">
					</div>
				</form>
			</div>
			<!-- Panel Footer : Buttons -->
			<div class="panel-footer" ng-show="!colapsarFormulario">
				<button type="submit" class="btn btn-primary" ng-click="guardar(nueva)">Guardar</button>
				<button type="submit" class="btn btn-default pull-right" ng-click="limpiar()">Limpiar</button>
				<button type="submit" class="btn btn-default pull-right" ng-click="cerrarForm()">Cerrar</button>
			</div>
		</div>
	</div>
	<!-- Listado Actuales -->
	<div class="row col-sm-5 col-sm-offset-1">
		<!-- Panel -->
		<div class="panel panel-primary">
			<!-- Panel Header -->
			<div class="panel-heading">
				<h4 class="panel-title">{{modulo}} Actuales</h4>
			</div>
			<!-- Listado -->
			<div class="panel-body" ng-init="listar()">
				<table class="table table-hover table-condensed table-striped" ng-show="localidades.length!=0">
					<thead>
						<tr>
							<td><em>Localidad</em></td>
							<td><em>Partido</em></td>
							<td><em>CP</em></td>
							<td></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="localidad in localidades | orderBy:['partido.nombre', 'nombre']">
							<td><strong>{{localidad.nombre}}</strong></td>
							<td>{{localidad.partido.nombre}}</td>
							<td>{{localidad.cp}}</td>
							<td><a href="#/{{urlModulo}}" ng-click="editarElemento(localidad)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
							<td><a href="#/{{urlModulo}}" ng-click="confirmarBorrar(localidad)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Panel Footer -->
			<div class="panel-footer">
				<h5 class="panel-title">Total de localidades: <strong>{{localidades.length}}</strong>.</h5>
			</div>
		</div>
	</div>

</div>