<div class="row">
	<!-- Page Header -->
	<div class="page-header">
		<h2>{{modulo}}</h2>
	</div>
	<!-- Alert Modal -->
	<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	    	<div class="modal-header">
	    		<h4 class="modal-title">Informacion</h4>
	    	</div>
	    	<div class="modal-body">
				<div class="alert alert-success alert-dismissible" role="alert" ng-show="success && success!=null && msgSuccess!=null" >
				  <h4 class="text-center">{{msgSuccess}}</h4>
				</div>
				<div class="alert alert-danger alert-dismissible" role="alert" ng-show="!success && success!=null && msgError!=null">
				  <h4 class="text-center">{{msgError}}</h4>
				</div>
	    	</div>
	    </div>
	  </div>
	</div>
	<!-- Form Nuevo -->
	<div class="row col-sm-4">
		<!-- Panel -->
		<div class="panel panel-default">
			<!-- Panel Header -->
			<div class="panel-heading">
				<h4>Nuevo {{nombreForm}}</h4>
			</div>
			<!-- Panel Body -->
			<div class="panel-body">
				<form role="form" name="formAction" ng-init="listarPartidos()">
					<div class="form-group">
						<label for="partido" class="control-label">Partido</label>
						<select class="form-control" ng-options="partido.nombre for partido in partidos" required ng-model="partidoSel"></select>
					</div>
					<div class="form-group">
						<label for="nombre" class="control-label">Localidad</label>
						<input type="text" class="form-control" id="nombre" name="nombre" ng-model="nueva.nombre">
					</div>
					<div class="form-group">
						<label for="cp" class="control-label">CP</label>
						<input type="text" class="form-control" id="cp" name="cp" ng-model="nueva.cp">
					</div>
				</form>
			</div>
			<!-- Panel Footer : Buttons -->
			<div class="panel-footer">
				<button type="submit" class="btn btn-primary" ng-click="guardar(nueva)">Guardar</button>
				<button type="submit" class="btn btn-default pull-right" ng-click="limpiar()">Limpiar</button>
			</div>
		</div>
	</div>
	<!-- Listado Actuales -->
	<div class="row col-sm-6 col-sm-offset-1">
		<!-- Panel -->
		<div class="panel panel-default">
			<!-- Panel Header -->
			<div class="panel-heading">
				<h4>{{modulo}} Actuales</h4>
			</div>
			<!-- Listado -->
			<div class="tipos" ng-init="listar()">
				<table class="table table-hover table-bordered table-condensed table-striped">
					<thead>
						<tr>
							<td><em>Partido</em></td>
							<td><em>Localidad</em></td>
							<td><em>CP</em></td>
							<td></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="localidad in localidades | orderBy:['partido.nombre', 'nombre']">
							<td>{{localidad.partido.nombre}}</td>
							<td>{{localidad.nombre}}</td>
							<td>{{localidad.cp}}</td>
							<td><a href="#/{{urlModulo}}" ng-click="editarElemento(localidad)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
							<td><a href="#/{{urlModulo}}" ng-click="borrar(localidad)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Panel Footer -->
			<div class="panel-footer">
				<h5>Total de localidades: <strong>{{localidades.length}}</strong>.</h5>
			</div>
		</div>
	</div>

</div>