<div class="row" ng-show="logueado">
	<!-- Page Header -->
	<page-header></page-header>
	<!-- Alert Modal -->
	<modal-alert></modal-alert>
	<!-- Confirmacion Borrar -->
	<modal-confirm></modal-confirm>
	
	<!-- Form Nuevo -->
	<div class="row col-sm-4 col-sm-offset-1">
		<!-- Panel -->
		<div class="panel panel-primary">
			<!-- Panel Header -->
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="" ng-click="colapsarFormulario=!colapsarFormulario">Nueva {{nombreForm}}
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': colapsarFormulario, 'glyphicon-chevron-up': !colapsarFormulario}"></i>
					</a>
				</h4>
			</div>
			<!-- Panel Body -->
			<div class="panel-body" collapse="colapsarFormulario">
				<form role="form" name="formAction" ng-init="inicializarListados()">
					<div class="form-group">
						<select class="form-control" ng-options="instituto.nombre for instituto in institutos" required ng-model="institutoSel">
							<option value="">-- Instituto --</option>
						</select>
					</div>
					<div class="form-group">
						<select class="form-control" ng-options="(localidad.nombre + ' , ' + localidad.partido.nombre + ' , ' + localidad.partido.provincia.nombre) for localidad in localidades" required ng-model="localidadSel">
							<option value="">-- Localidad, Partido, Provincia --</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="nombre" name="nombre" ng-model="nueva.nombre" placeholder="Nombre de la Sede">
					</div>
				</form>
			</div>
			<!-- Panel Footer : Buttons -->
			<div class="panel-footer" ng-show="!colapsarFormulario">
				<button type="submit" class="btn btn-primary" ng-click="guardar(nueva)">Guardar</button>
				<button type="submit" class="btn btn-default pull-right" ng-click="limpiar()">Limpiar</button>
				<button type="submit" class="btn btn-default pull-right" ng-click="cerrarForm()">Cerrar</button>
			</div>
		</div>
	</div>
	
	<!-- Listado Actuales -->
	<div class="row col-sm-5 col-sm-offset-1">
		<!-- Panel -->
		<div class="panel panel-primary">
			<!-- Panel Header -->
			<div class="panel-heading">
				<h4 class="panel-title">{{modulo}} Actuales</h4>
			</div>
			<!-- Listado -->
			<div class="panel-body" ng-init="listar()">
				<table class="table table-hover table-condensed table-striped" ng-show="sedes.length!=0">
					<thead>
						<tr>
							<th><em>Sede</em></th>
							<th><em>Instituto</em></th>
							<th><em>Localidad, Partido, Provincia</em></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="sede in sedes | orderBy:['instituto.nombre', 'localidad.nombre', 'nombre']">
							<td>{{sede.nombre}}</td>
							<td>{{sede.instituto.nombre}}</td>
							<td>{{sede.localidad.nombre}}, {{sede.localidad.partido.nombre}}, {{sede.localidad.partido.provincia.nombre}}</td>
							<td><a href="#/{{urlModulo}}" ng-click="editarElemento(sede)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
							<td><a href="#/{{urlModulo}}" ng-click="confirmarBorrar(sede)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Panel Footer -->
			<div class="panel-footer">
				<h5 class="panel-title">Total de sedes: {{sedes.length}}.</h5>
			</div>
		</div>
	</div>

</div>